html, body {
  height: 100%;
  font-family: sans-serif;
}

.cover-container {
  max-width: 58em;
  height: 100%; /* 또는 min-height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: stretch; /* 필요에 따라 추가 */
}

main {
  flex-grow: 1; /* 푸터를 밀어내는 역할 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 메인 콘텐츠 중앙 정렬 유지 */
}

.form-login {
  padding: 1rem;
}

.form-signin {
  max-width: 58em;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 1;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.loginbtn {
  border: 0px;
  background-color: transparent;
}
