{% extends "cam/base.html"%} {%block title%}모드 스케줄 관리{%endblock%} {%block
content%}
<body class="d-flex h-100 text-center bg-dark text-white">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include "cam/header.html" %}

    <h1>모드 스케줄 목록</h1>
    <p>
      <a href="{{ url_for('mode.schedule') }}" class="btn btn-primary">추가</a>
    </p>
    <table>
      <thead>
        <tr>
          <th>모드</th>
          <th>인원</th>
          <th>시작 시각</th>
          <th>종료 시각</th>
          <th>대표자</th>
          <th>메모</th>
        </tr>
      </thead>
      <tbody>
        {% for schedule in schedules %}
        <tr>
          <td>{{ schedule.mode_type }}</td>
          <td>{{ schedule.people_cnt }}</td>
          <td>{{ schedule.start_time }}</td>
          <td>{{ schedule.end_time }}</td>
          <td>{{ schedule.rep_name }}</td>
          <td><a title="{{ schedule.memo }}">메모</a></td>
        </tr>
        {% else %}
        <tr>
          <td colspan="6">등록된 스케줄이 없습니다.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "cam/footer.html" %}
  </div>
</body>
{%endblock%}
