{% extends "mode/base.html"%}
{% block title %}모드 스케줄 관리 {% endblock %}
{% block content %}

  <div class="cover-container m-auto">
   {% include "cam/header.html" %}

  <div class="table-responsive">
    <h2>모드 스케줄 목록</h2>
    <p>
      <a href="{{ url_for('mode.schedule') }}" class="btn btn-primary">추가</a>
    </p>
    <table
      class="table table-striped table-hover align-middle fw-bold">
      <thead>
        <tr>
          <th>모드</th>
          <th>인원</th>
          <th>시작 시각</th>
          <th>종료 시각</th>
          <th>대표자</th>
          <th>메모</th>
          <th>상세보기</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
       {% for schedule in schedules %}
       <tr>
        <td>{{ schedule.mode_type }}</td>
        <td>{{ schedule.people_cnt }}</td>
        <td>{{ schedule.start_time }}</td>
        <td>{{ schedule.end_time }}</td>
        <td>{{ schedule.rep_name }}</td>
        <td><a title="{{ schedule.memo }}">메모</a></td>
        <td>
          <a href="{{ url_for('mode.mode_logs', schedule_id=schedule.id) }}">
            <button type="button" class="btn btn-info btn-sm">
              상세보기
            </button>
          </a>
        </td>
        <td>
         <form method="POST" action="{{ url_for('mode.delete_schedule', schedule_id=schedule.id) }}" style="margin-bottom: 0px;">
          {{form.csrf_token}}
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-sm">삭제</button>
         </form>
        </td>
       </tr>
       {% else %}
       <tr>
        <td colspan="7">등록된 스케줄이 없습니다.</td>
       </tr>
       {% endfor %}
      </tbody>
     </table>
    </main>
  </div>
</div>
{%endblock%}
{% include "cam/footer.html" %}

