<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{{ url_for('cam.index') }}">CCTV 관리</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('cam.cameras') }}"
							>카메라 목록 <span class="sr-only">(current)</span></a
						>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('cam.video_list') }}">
							날짜별 영상목록 <span class="sr-only">(current)</span></a
						>

						<!-- Add other navigation links here -->
					</li>
				</ul>

				<ul class="navbar-nav ml-auto">
					{% if current_user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('auth.logout') }}">로그아웃</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('cam.update_videos')}}"
							>전체 영상 목록</a
						>
						{% else %}
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<div class="container mt-4">{% block content %} {% endblock %}</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
