{% extends "cam/base.html" %}{% block title %} 카메라 정보 편집 {% endblock
title %} {% block content%}
<body class="d-flex h-100 text-center bg-dark text-white">
  {% include "cam/header.html"%}
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <form
      action="{{ url_for('cam.edit_camera', camera_id=cam.id) }}"
      method="POST"
      novalidate="novalidate">
      {{ form.csrf_token }}
      <p>
        {{ form.cam_name.label }} {{ form.cam_name(placeholder="카메라명",
        value=cam.cam_name) }}
      </p>
      {% for error in form.cam_name.errors %}
      <span style="color: red">{{ error }} </span>
      {% endfor %}
      <p>
        {{ form.cam_url.label }} {{ form.cam_url(placeholder="영상 서버 주소",
        value=cam.cam_url) }}
      </p>
      {% for error in form.cam_url.errors %}
      <span style="color: red">{{ error }} </span>
      {% endfor %}
      <p>{{ form.submit(value='갱신') }}</p>
    </form>

    <form
      action="{{ url_for('cam.delete_camera', camera_id=cam.id) }}"
      method="POST">
      {{ form.csrf_token }}
      <input type="submit" value="삭제" />
    </form>
    {% endblock %}
  </div>
</body>
