<footer class="footer m-auto fixed-bottom custom-footer" >
  <div class ="container-fluid"> 
    <div class ="cover-container m-auto">
      <div class="col-md-12 d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="20">
          <path id='footer_camera_icon' fill="#e5e7eb" d="M0 128C0 92.7 28.7 64 64 64l256 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2l0 256c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1l0-17.1 0-128 0-17.1 14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg> <path d="M0 128C0 92.7 28.7 64 64 64l256 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2l0 256c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1l0-17.1 0-128 0-17.1 14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/>
        </svg>
        <span class="fw-bold fs-6 mx-1">Camera</span>  
      </div>
      <div class = "col-md-12 hstack gap-1">
        <div><strong class ="text-white" id="total_cam_cnt">전체 카메라 {{ num_total_cams }}</strong></div>
        <div class = "vr mx-1"></div>
        <div><strong class ="text-info" id="act_cam_cnt">동작 중 {{ num_active_cams }}</strong></div>

        <div class = "vr mx-1"></div>
        <div><strong class ="text-success" id="rec_cam_cnt"> 녹화 중 {{ num_recording_cams }}</strong></div>

        <div class = "vr mx-1"></div>
        <div><strong class ="text-info" id="dt_cam_cnt"> 인식 모듈 {{ num_dt_cams }}</strong></div>

        <a class = "ms-auto mb-2 px-2 link-light link-offset-2 link-underline-opacity-0 fw-bold" href ="#">Top</a>

      </div>
    </div>
  </div>
</footer>

{% block scripts %}
<script>
  function checkCamStatus() {
    $.get("{{ url_for('cam.check_cam_status') }}", function (data) {
      console.log(data)
      document.getElementById('total_cam_cnt').innerHTML = "전체 카메라 " + data['total_cams'];
      document.getElementById('act_cam_cnt').innerHTML = "동작 중 " + data['active_cams'];
      document.getElementById('rec_cam_cnt').innerHTML = "녹화 중 " + data['rec_cams'];
      document.getElementById('dt_cam_cnt').innerHTML = "인식 모듈 " + data['dt_cams'];
    });
  }

  // 5초마다 상태 체크
  setInterval(checkCamStatus, 5000);

</script>
{% endblock %}

