
<header class="mb-auto">
    <div class="container-fluid">
    <div class="d-flex gab-1 justify-content-between align-items-center">
        <h3 class="float-md-start mb-0">Camera</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end" data-bs-theme="dark">
            <a class="nav-link fw-bold py-1 px-2" aria-current="page" href="{{url_for ("cam.index")}}">Home</a>
            <a class="nav-link fw-bold py-1 px-2" href="{{ url_for ("cam.live") }}">Live</a>
            <a class="nav-link fw-bold py-1 px-2" href="{{ url_for ("cam.list_videos") }}">Video List</a>
            <a class="nav-link fw-bold py-1 px-2" href="{{ url_for ("cam.cam_status") }}">Cam Status</a>
            
        </nav>
        <div class= "col-md-5 text-end">
            <button type="button" class="btn btn-light me-2">
                <a href="{{ url_for ("auth.logout")}}" title = "로그아웃" role = "button" alt= "로그아웃 버튼">logout</a>
            </button>
            <button type="button" class="btn btn-outline-light">
                <a href="{{ url_for ("auth.signup")}}" title = "사용자 신규 등록" role = "button" alt= "사용자 신규 등록">sign in</a>
            </button>
        </div>
    </div>
    </div>
</header>

