{% extends "cam/base.html" %} {% block title %} 카메라 서버 관리 {% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>카메라 서버 관리</h2>
  <div class="row">
    {% for cam in cams %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ cam.name }}</h5>
          <div id="camera-{{ cam.id }}-stream" class="mt-2">
            <img
              src="{{ url_for('cam.camera_stream', camera_id=cam.id) }}"
              style="width: 100%" />
          </div>
          <a
            href="{{ url_for('cam.stream_page', camera_id=cam.id) }}"
            class="btn btn-primary">
            관리
          </a>
          <a
            href="{{ url_for('cam.recorded_videos', camera_id=cam.id) }}"
            class="btn btn-info mt-2">
            영상 목록
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
