{% extends "cam/base.html" %} {% block title %} Home {% endblock %} {% block
content %}
<div class="cover-container w-100 h-100 p-3 mx-auto">
  {% include "cam/header.html" %}
  <main class="m-auto px-5">
    <h1>스마트 CCTV 관리</h1>
    <p class="lead">
      이 페이지는 실시간 물체 감지 기능을 갖춘 CCTV 관리 시스템입니다. 간편한
      설정으로 보안 환경을 강화하고, 감지된 영상을 효율적으로 관리하세요.
    </p>

    <h2>인식 모듈 상태</h2>
    <p
      id="status-text"
      class="lead {% if recognition_running %}text-success{% else %}text-danger{% endif %}">
      {% if recognition_running %} 실행 중 {% else %} 중지됨 {% endif %}
    </p>
    <div id="status-detail">
      {% if recognition_running %} 
        {% for key in cam_data %}
        <div> {{ cam_data[key]['cam_name'] }} </div>
        <div> {% if cam_data[key]['dt_active'] == True %} 작동 중 {% else %} 작동 불가 {% endif %} </div>
        {% endfor %}
      {% endif %}
    </div>

    <form
      id="shutdown-form"
      method="POST"
      action="{{ url_for('cam.shutdown_module') }}">
      {{ form.csrf_token }} {{ form.submit(class="btn btn-danger", disabled=not
      recognition_running) }} {##}
    </form>
  </main>
</div>
{% endblock %} {% include "cam/footer.html" %}{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

<script>
  function checkStatus() {
    $.get("{{ url_for('cam.check_status') }}", function (data) {
      console.log("Status Data:", data); // 추가된 부분
      const statusText = $("#status-text");
      const submitBtn = $("#shutdown-form button[type='submit']");
      if (data.running) {
        statusText
          .text("실행 중")
          .removeClass("text-danger")
          .addClass("text-success");
        submitBtn.prop("disabled", false);
      } else {
        statusText
          .text("중지됨")
          .removeClass("text-success")
          .addClass("text-danger");
        submitBtn.prop("disabled", true);
      }
    });
  }

  // 5초마다 상태 체크
  setInterval(checkStatus, 5000);

  // 폼 제출 후 상태 자동 갱신
  $("#shutdown-form").on("submit", function (e) {
    e.preventDefault(); // 기본 제출 막기
    const form = $(this);
    $.post(form.attr("action"), form.serialize())
      .done(function (response) {
        console.log("Shutdown response:", response);
        if (response.status === "success") {
          alert(response.message); // 성공 메시지 표시
        } else if (response.status === "info") {
          alert(response.message); // 정보 메시지 표시
        }
        setTimeout(function () {
          window.location.reload(); // 페이지 새로고침
        }, 1000); // 1초 뒤 새로고침
      })
      .fail(function (err) {
        alert("종료 실패: " + err.responseJSON.message); // 실패 메시지 표시
      });
  });
</script>
{% endblock %}
