{% extends "cam/base.html" %} {% block title %}Live{% endblock %}

<body class="d-flex h-100 text-center bg-dark text-white">
  {% block content %}
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include "cam/header.html" %}

    <main>
      <h3>Live page</h3>
      <div class="row">
        {% for cam in cams %}
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ cam.cam_name }}</h5>
              <div id="camera-{{ cam.id }}-stream" class="mt-2">
                <img src="{{cam.cam_url}}" style="width: 100%" />
                <p class="cam-recording-status">
                  <a href="{{url_for("cam.cam_status")}}"> {{cam.is_active}}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>

    {% include "cam/footer.html" %} 
    {% endblock %}
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
<script src="{{url_for ('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
