{% extends "cam/base.html" %} {% block title %}Live{% endblock %}

<body class="d-flex h-100 text-center bg-dark text-white">
  {% block content %}
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include "cam/header.html" %}

    <main>
      <h3 class= "mt-4">Live page</h3>
      <div class="row">
        {% for cam in cams %}
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ cam.cam_name }}</h5>
              <div id="camera-{{ cam.id }}-stream" class="mt-2">
                <img src="{{cam.cam_url}}" style="width: 100%" />
                <p class="cam-recording-status">
                  <a href="{{url_for("cam.cam_status")}}">{% if cam.cam_name in recording_status and
                    recording_status[cam.cam_name] %} 녹화 중 {% else %} 대기 중 {%
                    endif %}</a>
                </p>
                {% if cam.cam_name not in recording_status or not
                  recording_status[cam.cam_name] %}
                  <a
                    href="{{ url_for('cam.start_record', camera_name=cam.cam_name) }}"
                    >녹화 시작</a
                  >
                  {% else %}
                  <a
                    href="{{ url_for('cam.stop_record_route', camera_name=cam.cam_name) }}"
                    >녹화 중지</a
                  >
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>

    {% include "cam/footer.html" %} 
    {% endblock %}
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
<script src="{{url_for ('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
