{% extends "cam/base.html" %} {% block title %}비디오 재생{% endblock %} {%
block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  {% include "cam/header.html" %}
  <h1 class="mb-3">비디오 재생</h1>
  <div class="mb-3">
    <h2>비디오 ID: {{ video_id }}</h2>
    <video width="80%" controls autoplay loop crossorigin>
      <source src="{{ video_path }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <p>
    <a
      href="#"
      class="btn btn-secondary"
      onclick="window.history.back(); return false;"
      >뒤로가기</a
    >
  </p>
  {% include "cam/footer.html" %}
</div>
{% endblock %}
