{% extends "cam/base.html" %} {% block title %}Video List{% endblock %}

<body class="d-flex h-100 text-center bg-dark text-white" data-bs-spy="scroll" data-bs-target="#TableOfContents">
  {% block content %}
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <style>
      #content {
        height: 500px;
        overflow: auto;
        border: 5px solid white;
      }
      #topButton {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        background-color:rgb(255, 255, 255);
        color: white;
        border: none;
        cursor: pointer;
    }
    </style>
    {% include "cam/header.html" %}
    <h1>비디오 목록</h1>
    <p>
      <a href="{{ url_for('cam.update_videos') }}" class="btn btn-primary">갱신</a>
    </p>
    <nav id = "TableOfContents">
    <table class = "table table-hover ">
      <thead class = "table-dark">
        <tr>
          <th>ID</th>
          <th>카메라 이름</th>
          <th>녹화 날짜</th>
          <th>녹화 시간</th>
          <th>비디오 경로</th>
          <th>액션</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(300) %}
        <tr class="table-light">
          <td>테스트</td>
          <td>카메라1</td>
          <td>1111-22-33</td>
          <td>00:00:00</td>
          <td>주소주소.mp4</td>
          <td>
            보기
          </td>
        </tr>
        {% endfor %}
        {% for video in videos %}
        <tr>
          <td>{{ video.id }}</td>
          <td>{{ video.camera_name }}</td>
          <td>{{ video.recorded_date.strftime('%Y-%m-%d') }}</td>
          <td>{{ video.recorded_time.strftime('%H:%M:%S') }}</td>
          <td>{{ video.video_path }}</td>
          <td>
            <a
              href="{{ url_for('static', filename=video.video_path.replace(config.get('VIDEO_FOLDER') + '\\', '').replace(config.get('VIDEO_FOLDER') + '/', '')) }}"
              target="_blank"
              >보기</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="additionalContent"></div>
  </nav>
    <button class="topButton">Top</button>
    <script src= "{{ url_for ('cam.static', filename='js/script.js') }}"></script>
    
    {% include "cam/footer.html" %} {% endblock %}
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
<script src="{{url_for ('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
