{% extends "cam/base.html" %} {% block title %}녹화된 영상 목록{% endblock %} {%
block content %}
<div class="container mt-5">
  <h2>녹화된 영상 목록</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>카메라 이름</th>
        <th>녹화 시간</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for video in videos %}
      <tr>
        <td>{{ video.camera_name }}</td>
        <td>{{ video.recorded_time }}</td>
        <td>
          <a
            href="{{ url_for('cam.play_video', video_id=video.id) }}"
            class="btn btn-primary btn-sm"
            >재생</a
          >
          <a
            href="{{ url_for('cam.download_video', video_id=video.id) }}"
            class="btn btn-success btn-sm"
            >다운로드</a
          >
          <form
            method="POST"
            action="{{ url_for('cam.delete_recorded_video', video_id=video.id) }}"
            style="display: inline">
            {{ form.hidden_tag() }}
            <button
              type="submit"
              class="btn btn-danger btn-sm"
              onclick="return confirm('정말로 삭제하시겠습니까?')">
              삭제
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="nav-item">
    <button class="nav-link btn btn-primary" onclick="confirmUpdate()">
      전체 영상 목록 갱신
    </button>
  </div>

  <script>
    function confirmUpdate() {
      if (confirm("목록을 갱신하시겠습니까?")) {
        window.location.href = "{{ url_for('cam.update_videos')}}";
      }
    }
  </script>
</div>
{% endblock %}
